<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.DefaultDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-LH3AFE6\SQLEXPRESS;Initial Catalog=scipa_test;Integrated Security=True" />
    </connectionStrings>
</configuration>