<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCIPA.Domain.Logic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SCIPA.Domain.Logic.Properties.Settings.DefaultDatabaseConnectionString"
            connectionString="Data Source=DIANDLAD-LAPTOP;Initial Catalog=scipa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <SCIPA.Domain.Logic.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="DefaultFileDirectory" serializeAs="String">
                <value>@C:\scipa\</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>@C:\scipa\log.dat</value>
            </setting>
        </SCIPA.Domain.Logic.Properties.Settings>
    </userSettings>
</configuration>