<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SCIPAEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:scipa-project.database.windows.net,1433;Database=SCIPA;User ID=scipa-admin@scipa-project;Password=Project2016;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SCIPA.UI.HMI.Properties.Settings.SCIPAConnectionString"
      connectionString="Data Source=.;Initial Catalog=SCIPA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>